body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
}

.navbar {
    background-color: #00B686;
}

.navbar-inner {
    font-size: 30px;
    font-weight: 800;
    padding-left: 10px;
    color: #00523C;
}


.table-responsive {
    padding: 10px;
    margin-top: 10px;
}


.click-headers {
    cursor: pointer;
}


.date-range {
    padding: 10px;
}

